<%= provide(:title, "All Users") %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '編集する') %>
<div class="container">

  <h1>全てのユーザー</h1>
  <div class="row to-the-left">
    <div class="form-inline">
      <div class="col-md-4 col-md-offset-8",style="display:inline;">
        <%= form_with(url:users_path, method: :get, local:true) do |f| %>
          <span><%= f.label:search,"ユーザー名検索" %></span>
          <span style="display:inline;"><%= f.text_field:search, placeholder:"キーワードを入力…", class: "form-control" %><%= f.submit "検索", class: "btn btn-primary" %></span>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <form enctype="multipart/form-data" action="/users/import" accept-charset="UTF-8" method="post">
        <div class="search_item">
          <input type="file" name="file" id="file" class="form-control">
        </div>
        <div class="csv-btn ">
          <input type="submit" name="commit" value="CSVインポート" class="btn btn-primary btn-block" data-disable-with="CSVインポート">
        </div>
      </form>
    </div>
    
    

    <div class="col-md-10 new-table">
      <%= will_paginate @user %>
      <table class="table table-condensed table-borderless " id="table-users" width="100%">
        <tbody>
          <tr class="blank_height">
            <td width="100%"></td>
            
          </tr>
          <% @user.each do |user| %>
            <% if !user.admin %>
              <tr class="new-table__item">
                <td width="100%"><div class="td-content1"><%= link_to user.name, user_path(user) %></div>
                  <div class="td-content2">l&nbsp<%= link_to "削除", user, method: :delete,
                        data: { confirm: "削除してよろしいですか？" },
                        class: "btn btn-primary" %></div>
                  <div class="td-content3">  
                    <!-- ↓の説明：data-toggle = "collapse"→開閉ボタンに必要 data-target→開閉ボタンに必要、開閉するコンテンツと紐付ける 🌸🔴コンテンツの方にはclassにcollapseと付ける-->
                    <button  class="btn btn-primary btn-lg btn-click btn-outline-warning " data-toggle = "collapse" data-target = "#accordion<%= user.id %>" aria-expanded="true" aria-controls = "accordion" autocomplete = "off">編集</button>
                    
                  </div>
                  <div class="collapse  td-content3 td-content3-bgcolor" id="accordion<%= user.id %>">
                    <div class="collapse in" >
                        <div class="card card-body">
                          <%= render 'new_form',{ user: user} %>
                        </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>  
      </table>
      <%= will_paginate @user %>
    </div>
  </div>
</div>

<!-- モーダルウインドウ表示 -->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>