<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '変更を送信する') %>
<div class="container">
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="title-font">勤怠編集申請のお知らせ</span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12  superior-approve-style">
            <% if @attendance1.present? %>
              <% @ary.each do |a| %>
                <% only, users = apply_to_superior(@attendance1, a) %>
                <% if @cou == 0 %>
                  <h4 class="modal-title" id="name-title1">【<%= users.name %>からの勤怠編集申請】</h4>
                <% else %>
                  <h4 class="modal-title name-title" id="name-title">【<%= users.name %>からの勤怠編集申請】</h4>
                <% end %>
                <%= form_with(model:@attendance1, url: update_superior_approve_user_attendance_path(@attendance1, users), local: true, method: :patch) do |f| %>
                  <%= render 'shared/error_messages', object: @user %>
                  <table class="table table-bordered  table-hover table-striped text" id="table-application" >
                    <thead>
                      <tr>
                        <th rowspan="3"><span class="align-middle">日付</span></th>
                        <th rowspan="3">曜日</th>
                        <th colspan="4">変更前</th>
                        <th colspan="4">変更後</th>
                        <th rowspan="3">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;備考&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&thinsp;</th>
                        <th rowspan="3">指示確認㊞</th>
                        <th rowspan="3">変更</th>
                        <th rowspan="3">勤怠を確認する</th>
                      </tr>
                      <tr>
                        <th colspan="2">出社</th>
                        <th colspan="2">退社</th>
                        <th colspan="2">出社</th>
                        <th colspan="2">退社</th>
                      </tr>
                      <tr>
                        <th>時</th>
                        <th>分</th>
                        <th>時</th>
                        <th>分</th>
                        <th>時</th>
                        <th>分</th>
                        <th>時</th>
                        <th>分</th>
                      </tr>
                    </thead>
                    <% only.each do |one| %>
                      <tr>
                        <td><%= l(one.worked_on, format: :short) %></td>
                        <% if one.worked_on.wday == 6
                            x = "sat"
                          elsif one.worked_on.wday == 0
                            x = "sun"
                          end %>
                        <td class="<%= x %>"><%= $days_of_the_week[one.worked_on.wday] %></td>
                        <!-- started_at変更前の値があれば、'時'の部分を表示  -->
                        <% if one.started_at_before_last_save == nil %>
                          <td></td>
                        <% else %>
                          <td><%= l(one.started_at_before_last_save, format: :time1) %></td>
                        <% end %>

                        <!-- started_at変更前の値があれば、'分'の部分を表示  -->
                        <% if one.started_at_before_last_save == nil %>
                          <td></td>
                        <% else %>
                          <td><%= l(one.started_at_before_last_save.floor_to(15.minutes), format: :time2) %></td>
                        <% end %>

                        <!-- finished_at変更前の値があれば、'時'の部分を表示  -->
                        <% if one.finished_at_before_last_save == nil %>
                          <td></td>
                        <% else %>
                          <% if one.started_at_before_last_save.day != one.finished_at_before_last_save.day %>
                            <td><span style="color: red; font-size:8px;">(翌)</span><%= l(one.finished_at_before_last_save, format: :time1) %></td>
                          <% else %>
                            <td><%= l(one.finished_at_before_last_save, format: :time1) %></td>
                          <% end %>
                        <% end %>

                        <!-- finished_at変更前の値があれば、'分'の部分を表示  -->
                        <% if one.finished_at_before_last_save == nil %>
                          <td></td>
                        <% else %>
                          <td><%= l(one.finished_at_before_last_save.floor_to(15.minutes), format: :time2) %></td>
                        <% end %>

                        <!-- 現在のstarted_atの、'時'の部分を表示 -->
                        <td><%= l(one.started_at, format: :time1) %></td>
                        

                        <!-- 現在のstarted_atの、'分'の部分を表示 -->
                        <td><%= l(one.started_at.floor_to(15.minutes), format: :time2) %></td>

                        <!-- 現在のfinished_atの、'時'の部分を表示 -->
                        <% if one.started_at.day != one.finished_at.day %>
                          <td><span style="color: red; font-size:8px;">(翌)</span><%= l(one.finished_at, format: :time1) %></td>  
                        <% else %>
                          <td><%= l(one.finished_at, format: :time1) %></td>
                        <% end %>

                        <!-- 現在のfinished_atの、'分'の部分を表示 -->
                        <td><%= l(one.finished_at.floor_to(15.minutes), format: :time2) %></td>

                        <td><%= one.note %></td>
                        <td><%= f.select :status, @status, {selected: "申請中" }  %></td>
                        <td><%= f.check_box :change %></td>
                        <td><%= link_to "確認", "#", class:"btn btn-primary" %></td>

                      </tr>
                    <% end %>
                  </table>
                <% end %>
                <%@cou = @cou +1%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>